:root {
    background-color: #e48397;
}

.first-msg {
    display: flexbox;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-size: 65px;
    font-family: fantasy;
}

.second-msg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-size: 65px;
    font-family: fantasy;
}